= render partial: 'layouts/header', locals: {page: 'My films'}
= render partial: 'layouts/alerts'

.container
  .row
    .col-md-8
    .col-md-4
      .searchRight
        = search_form_for @q, class:'search-query form-inline' do |f|
          = f.search_field :title_cont, class: 'form-control ', placeholder: 'Search', type: 'search'
          = f.submit class: 'btn btn-outline-success my-2 my-sm-0' do
            = icon('search')

  .row
    - @films.last(12).each.with_index do |film,index|
      - rating = Rating.where(film_id: film.id, user_id: current_user.id).first || Rating.new
      - info = HTTParty.get("http://www.omdbapi.com/?i=#{film.real_imdb_id}&apikey=6aca691")
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        .card{style: 'padding: 30px'}
          =link_to(film_path(film)) do
            %img.poster{src: info['Poster']}
          .card-body
            %h6.card-title= info['Title']
            - if rating.rating_value.present?
              .card-title
                - contador2 = 1;
                - limite2 = rating.rating_value;
                - while contador2 <= limite2
                  %span.fa.fa-star.checked.star
                  - contador2 += 1;
                - if rating.rating_value - (rating.rating_value).to_i != 0
                  %span.fa.fa-star-half-o.checked.star
                - contador1 = rating.rating_value+1;
                - limite1 = 5;
                - while contador1 <= limite1
                  %span.fa.fa-star-o.star
                  - contador1 += 1;
              %button.fa.fa-edit.buttonedit{onclick: "editar(#{index})", class: "editar#{index}"}
              %button.fa.fa-times.buttoncancel{onclick: "cancelar(#{index})", class: "cancelar#{index}"}

              .hidee{class: "cancelar#{index}"}
                = simple_form_for rating do |f|
                  = f.number_field :rating_value, step: 0.5, min: 0.5 , max: 5, label: false, class: "form-control updateRating"
                  %button.fa.fa-refresh.btn-success.form-control

            - else
              .card-title
                - contador3 = 1;
                - while contador3 <= 5
                  %span.fa.fa-star-o.star
                  - contador3 += 1;

              %button.fa.fa-edit.buttonedit{onclick: "editar(#{index})", class: "editar#{index}"}
              %button.fa.fa-times.buttoncancel{onclick: "cancelar(#{index})", class: "cancelar#{index}"}

              .hidee{class: "cancelar#{index}"}
                = simple_form_for rating do |f|
                  = f.number_field :rating_value, step: 0.5, min: 0.5, max: 5, label: false, class: "form-control updateRating"
                  = f.hidden_field :film_id, value: film.id
                  %button.fa.fa-refresh.btn-success.form-control
:javascript
  $(".simple_form.edit_rating").addClass("form-inline");
  $(".simple_form.new_rating").addClass("form-inline");
  $(".buttoncancel").hide();
  $(".hidee").hide();
  $(".buttonedit").show();

  function editar(i) {
    $(".editar"+i).hide();
    $(".cancelar"+i).show();
  }

  function cancelar(i){
    $(".cancelar"+i).hide();
    $(".editar"+i).show();
  }


= render partial: 'layouts/footer'
