= render partial: 'layouts/header', locals: {page: 'My films'}
= render partial: 'layouts/alerts'

.row
  - @films.first(5).each do |film|
    - rating = Rating.where(film_id: film.id, user_id: current_user.id).first
    - film_search_id = film.imdb_id.to_s
    - if film_search_id.size == 5
      - film_search_id = 'tt00'+film_search_id
    -else
      - film_search_id = 'tt0'+film_search_id
    - info = HTTParty.get("http://www.omdbapi.com/?i=#{film_search_id}&apikey=6aca691")
    .col-md-3
      .card{style: 'padding: 30px'}
        =link_to(film_path(film)) do
          %img.poster{src: info['Poster']}
        .card-body
          %h4.card-title= info['Title']
          %p.card-text
            = simple_form_for [rating] do |f|
              = f.input :rating_value, label: false
              = f.submit

= render partial: 'layouts/footer'
