%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %button.navbar-toggler{'data-target': '#navbarSupportedContent', 'data-toggle': 'collapse', type: 'button'}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        =link_to('My films', films_path, class: 'nav-link')
      %li.nav-item
        =link_to('Recommendations', recommend_film_path, class: 'nav-link')
        = search_form_for @q, class:'form-inline my-2 my-lg-0' do |f|
          = f.search_field :title_cont, class: 'form-control mr-sm-2', placeholder: 'Search', type: 'search'
          = f.submit class: 'btn btn-outline-success my-2 my-sm-0' do
            = icon('search')
      = link_to('Log out', destroy_user_session_path, method: :delete, class: 'nav-link')

.header
  .text-center= page